body {
    background: #FFEDED;
}
.navegação {
    background: linear-gradient(to right, #0F1865, #595a9e);
    background: -moz-linear-gradient(to right, #0F1865, #595a9e);
    background: -webkit-linear-gradient(to right, #0F1865, #595a9e);
    background: -o-linear-gradient(to right, #0F1865, #595a9e);
}

header {
    border-bottom: 1px solid #e5e5e5;
}

.nav-link:hover {
    color: #e3e4e9c2 !important;
}

.container h1 {
    margin-top: 25px;
}

.container h6{
    margin-top: 45px;
}

.container {
    text-align: justify;

}

.texto {
    text-align: justify;
    width:680px;
}